<link rel="stylesheet" href="/style/main.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Tammudu">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
