<!doctype html>
<html class="no-js" lang="">

    {% include 'component/head.html' %}

    <body>
    
        {% block content %}
        {% endblock %}

        {% include 'component/scripts.html' %}

    </body>
</html>
